<h1>Browse Groups</h1>

<%= form_with(url: '/groups', method: 'get', local: true) do %>
    <%= text_field_tag :search, nil, placeholder: 'Enter a name' %>
    <%= submit_tag("Search") %>
  <% end %>
<%= link_to "Search by tag", new_search_path %>

<ul>
    <% @groups.each do |group| %>
        <h2><%= link_to group.name, group_path(group) %></h2>
        <i><%= group.location %></i>
        <p><%= group.description %></p>
    <% end %>
</ul>