<h1>Start a new group</h1>

<%= simple_form_for @group do |f| %>
    <p>
        <%= f.input :name,
                required: true,
                label: "Name",
                placeholder: "Group Name",
                autofocus: true %>
    </p>
    
    <%= f.input :topic,
            collection:Topic.all,
            label_method: :title,
            value_method: :id,
            label: "Category",
            include_blank: true,
            required: true %>

    <p> 
        <%= f.input :location, 
                required: true,
                label: "Hometown",
                placeholder: "City, State",
                autofocus: true %>
    </p>

    <p> 
        <%= f.input :description,
                as: :text, 
                required: true,
                label: "Description",
                placeholder: "Enter up to 500 characters",
                autofocus: true %>
    </p>


    <p>
        <%= simple_fields_for :group_tags do |ff| %>
            <%= ff.input :tag_list,
                    as: :text,
                    required: false, 
                    label: "Tags",
                    placeholder: "Enter comma-seperated values",
                    autofocus: true %>
        <% end %>
    </p>

    <p>
        <%= f.button :submit, "Create Group" %>
    </p>
<% end %>