<h1><%= @group.name %></h1>
<% membership = @group.memberships.where("user_id = ?", current_user.id) %>

<% if current_user == @group.user %>
    <%= button_to "Create Event", new_group_event_path(@group), method: :get %>
    <%= button_to "Start Discussion", group_discussions_path(@group), method: :get %>
    <%= button_to "Delete Group", group_path(@group), method: :delete, class: "delete-group", data: {confirm: "Are you sure you want to delete this group?"} %>
<% elsif membership.empty? %>
    <%= button_to "Join Group", memberships_path(membership: {group_id: @group.id} ), method: :post, class: "membership-button" %>
<% else %>
    <%= button_to "Leave Group", membership.first, method: :delete, class: "membership-button cancel" %>
<% end %>
<%= @group.location %>
<p><%= @group.description %></p>

