<h1>Browse Events</h1>

<% if @group %>
    <% @group.events.each do |event| %>
        <h2><%= link_to event.title, group_event_path(@group, event) %></h2>
        <i><%= event.location %></i>
        <p><%= event.description %></p>
    <% end %>
<% else %>
    <% @events.each do |event| %>
        <h2><%= link_to event.title, group_event_path(event.group, event) %></h2>
        <i><%= event.location %></i>
        <p><%= event.description %></p>
    <% end %>

<% end %>