<h2 class="text-center mt-4">Create a new event</h2>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <%= simple_form_for @event do |f| %>
                <div class="form-inputs">
                    <%= f.input :title,
                            required: false, 
                            label: "Title",
                            autofocus: true %>

                    <%= f.input :description,
                            required: false,
                            label: "Description",
                            autofocus: true %>

                    <%= f.label :group_id, "Select Group" %><br>

                    <%= f.collection_select :group_id, 
                            current_user.groups,
                            :id,
                            :name %><br><br>

                    <%= f.input :location,
                            required: false,
                            label: "Location",
                            autofocus: true %>

                    <%= f.input :starttime,
                            as: :datetime,
                            order: [:month, :day, :year],
                            ampm: true,
                            required: false,
                            label: "Start Time" %>

                    <%= f.input :endtime,
                            as: :datetime,
                            order: [:month, :day, :year],
                            ampm: true,
                            required: false,
                            label: "End Time" %>
                </div>

                <div class="form-actions p-2 mb-2 row justify-content-center">
                    <%= f.button :submit, "Create Event", class: "btn btn-primary" %>
                </div>
                
            <% end %>
        </div>
    </div>
</div>