<h1>Event</h1>

<h2><%= @event.title %></h2>
<i><%= @event.location %></i>
<p><%= @event.description %></p>

<div class="group-info">
    <h3>Group Info</h3>
    <strong><%= @event.group.name %></strong><br>
    <i><%= @event.group.location %></i>
</div>

